<div ng-controller="AuthCtrl as authCtrl">
<div ng-hide="authCtrl.isAuthenticated()">
<h3  align="center">You must login first or register if you are new user</h3>
<div class="col-sm-offset-5" style="padding-top: 50px">
<a class="btn btn-success" href="#/login" style="color: white">Login</a>
<a href="#/register" class="btn btn-success" style="color: white">Register</a>
</div>
</div>
<div ng-show="authCtrl.isAuthenticated()">
<a href="#/buildings/{{floorCtrl.floor.building_id}}"  class='btn btn-success'><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>
<br><br><br>
        <div style="text-align: center;">
          <span><b>Floor Number : </b> {{floorCtrl.floor.floor_num}}</span><br>
          <span><b>Floor Width : </b> {{floorCtrl.floor.width}}</span><br>           
          <span><b>Floor Height : </b> {{floorCtrl.floor.height}}</span><br><br>
        </div>
        <div ng-show="floorCtrl.floor.blocks[0]">  
        <div class="oneHas_head">
            <h4>Floor Blocks: </h4>
        </div>
        <br><br>       
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Path</th> 
            <th>Action</th>
          </thead>
          <tbody>
            <tr ng-repeat="block in floorCtrl.floor.blocks">
                    <td><span ng-hide="floorCtrl.isEdit == true && floorCtrl.editId == block.id ">{{block.name}}</span>
                        <form  ng-show= "floorCtrl.isEdit == true && floorCtrl.editId == block.id" name="floorCtrl.editBlockForm" ng-submit="floorCtrl.submiteditBlockForm(floorCtrl.floor.id,floorCtrl.floor.building_id)" class="form-inline" >
                            <input class="form-control"  width="250px" type="text" placeholder="New name"  ng-model="floorCtrl.editBlock.name" required>
                            <input class="btn btn-success" type="submit" name="submit" value="Save">
                            <button class="btn btn-danger" ng-click="floorCtrl.isEdit = false">cancel</button>
                        </form> 
                    </td>
                    <td>{{block.path}}</td> 
                    <td>
                    <span>
                    <a ng-click="floorCtrl.editFunc(block)" class='btn btn-warning'  ng-hide="floorCtrl.isEdit == true && floorCtrl.editId == block.id ">
                    <span class="glyphicon glyphicon-pencil"></span> Edit Name</a>
                    </span>
                        <span><a href=""  class='btn btn-primary' ng-click="floorCtrl.getBlockDetails(floorCtrl.floor.building_id,floorCtrl.floor.id,block.id)" >
                        <span class="glyphicon glyphicon-plus-sign"></span> Details</a></span>
                    </td> 
            </tr>
          </tbody>
        </table> 
        </div>   
        <hr>        
          <div ng-show="floorCtrl.blockDetails.beacons[0]" width="80%">
                <b>Block Name: </b>{{floorCtrl.blockDetails.name}}<br><br><br>
                <div width="100px">               
                    <b>Beacons: </b><br><br>
                    <table class="table">
                          <thead>
                            <th>Name</th>
                            <th>UUID</th>
                            <th>Major</th>
                            <th>Minor</th> 
                          </thead>
                          <tbody>
                            <tr ng-repeat="beacon in floorCtrl.blockDetails.beacons">
                                  <td>{{beacon.name}}</td>
                                  <td>{{beacon.uuid}}</td>
                                  <td>{{beacon.major}}</td>
                                  <td>{{beacon.minor}}</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
          </div>

</div>
