<br>
<div class="signup-box">
<div class="lb-header">
  <h1>Register</h1>
</div>
<form class="new_user" ng-submit="authCtrl.register()" enctype="multipart/form-data">
  <div class="field u-form-group  col-sm-12">
    <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
  </div>
  <div class="field u-form-group  col-sm-12">
    <input type="text" class="form-control" placeholder="Username" ng-model="authCtrl.user.username">
  </div>
  <div class="field u-form-group  col-sm-12">
    <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
    <br>
  </div>

  <!--<div flow-init flow-name="authCtrl.user.picture"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message"
     flow-files-added="authCtrl.$on( $files, $event, $flow )">-->

  <input type="file" nv-file-select uploader="authCtrl.uploader"/>
<!--</div>-->
  <input type="submit" class="btn btn-success col-sm-offset-3 col-sm-6" value="Register">
</form>
</div>