
<div ng-controller="AuthCtrl as authCtrl">
<div ng-hide="authCtrl.isAuthenticated()">
<h3  align="center">You must login first or register if you are new user</h3>
<div class="col-sm-offset-5" style="padding-top: 50px">
<a class="btn btn-success" href="#/login" style="color: white">Login</a>
<a href="#/register" class="btn btn-success" style="color: white">Register</a>
</div>
</div>
<div ng-show="authCtrl.isAuthenticated()">
  <div class="page-header">
      <h2>Buildings</h2>
       <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" 
       style="float:right">
       <span class="glyphicon glyphicon-plus"></span> Add Buliding</button><br><br>
  </div>
  
<div ng-controller="buildingsCtrl as buildCtrl"> 
    
  <div id="myModal" class="modal fade" role="dialog" >
              <div class="modal-dialog">
                <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add Buliding</h4>
                    </div>

                    <form name="homeCtrl.addBuildForm" ng-submit="homeCtrl.submitaddBuildForm()" >
                    <div class="modal-body">

                      <p>     
                          <div class="row">
                              <label for="name" class="col-sm-3">Name : </label>
                              <div class="col-sm-6">
                                  <input type="text" name="name" class="form-control" ng-model="homeCtrl.addBuild.name" required />
                              </div>
                              <span ng-show="homeCtrl.addBuildForm.name.$invalid && homeCtrl.addBuildForm.name.$dirty">Build name is invalid *</span>
                              <span ng-show="homeCtrl.buildExist" class="errorMsg">{{homeCtrl.floorExist}}</span>
                        
                          </div>
                          <br/>
                          <!-- floo will  -->
                          <div class="row">
                              <label for="address" class="col-sm-3">Address :</label>
                              <div class="col-sm-6">
                                  <input type="text" name="address" class="form-control" ng-model="homeCtrl.addBuild.address"   required />
                              </div>
                              <span ng-show="homeCtrl.addBuildForm.address.$invalid && homeCtrl.addBuildForm.address.$dirty">Build Address is invalid *</span>
                          </div>
                          <br/>

                          <div class="row">
                              <label for="thumbnail" class="col-sm-3">Thumbnail : </label>
                              <div class="col-sm-6">
                                <input type="file" name="thumbnail"  class="form-control" ng-model="homeCtrl.addBuild.thumbnail" />

                              </div>
                          </div>
                          <br/>
                      </p>

                    </div>
                    <div class="modal-footer">
                          <button type="submit" class="btn btn-success btn-ok" ng-disabled="homeCtrl.addBuildForm.$invalid" >Add</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                  </div>
              </div>
  </div>
          
</div>
  <div ng-repeat="build in homeCtrl.buildings">
      <div class="buildBlock">
            <div style="float:left ; margin: 5px 30px">
                 <img ng-src="images/{{build.thumbnail}}"  /><br>
            </div>
            <div style="float:left"><br>
                <span><b>Name : </b> {{build.name}}</span><br>
                <span><b>Address : </b>{{build.address}}</span><br><br>
                <span><a href="#/buildings/{{build.id}}" class='btn btn-primary'><span class="glyphicon glyphicon-plus-sign"></span> Details</a></span>
                <span><a href="" ng-click="homeCtrl.delBuilding(build.id)" class='btn btn-danger'><span class="glyphicon glyphicon-trash"></span> Delete</a></span>
                <hr>
            </div>
            <div style="clear: both ; height: 1px;"></div>
            <br><br>
      </div>
  </div>

  </div>
</div>