<div ng-controller="AuthCtrl as authCtrl">
<div ng-hide="authCtrl.isAuthenticated()">
<h3  align="center">You must login first or register if you are new user</h3>
<div class="col-sm-offset-5" style="padding-top: 50px">
<a class="btn btn-success" href="#/login" style="color: white">Login</a>
<a href="#/register" class="btn btn-success" style="color: white">Register</a>
</div>
</div>
<div ng-show="authCtrl.isAuthenticated()">
<div>
  <div>

<a href="#/"  class='btn btn-success'><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>

  <!-- 000000000000000000 start add  modal 00000000000000000000 -->

        <button type="button" class="btn btn-info addbtn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Add Floor</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog" >
            <div class="modal-dialog">
              <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Floor</h4>
                  </div>
                  <form method="post" name="buildCtrl.addFloorForm" ng-submit="buildCtrl.submitaddFloorForm()" >
                  <div class="modal-body">
                    <p>
                        <div class="row">
                            <label for="floo" class="col-sm-3">Floor Number: </label>
                            <div class="col-sm-6">
                                <input type="number" name="floor_num" min="1" class="form-control" ng-model="buildCtrl.addFloor.floor_num" required />
                            </div>
                            <span ng-show="buildCtrl.addFloorForm.floor_num.$invalid && buildCtrl.addFloorForm.floor_num.$dirty">Floor Number is invalid *</span>
                            <span ng-show="buildCtrl.floorExist" class="errorMsg">{{buildCtrl.floorExist}}</span>

                        </div>
                        <br/>
                        <div class="row">
                            <label for="width" class="col-sm-3">Floor Width: </label>
                            <div class="col-sm-6">
                                <input type="number" name="width" min="1" class="form-control" ng-model="buildCtrl.addFloor.width"   required />
                            </div>
                            <span ng-show="buildCtrl.addFloorForm.width.$invalid && buildCtrl.addFloorForm.width.$dirty">Floor Width is invalid *</span>
                        </div>
                        <br/>

                        <div class="row">
                            <label for="height" class="col-sm-3">Floor Height: </label>
                            <div class="col-sm-6">
                                <input type="number" name="height" min="1" class="form-control" ng-model="buildCtrl.addFloor.height" required />
                            </div>
                            <span ng-show="buildCtrl.addFloorForm.height.$invalid && buildCtrl.addFloorForm.height.$dirty">Floor Height is invalid*</span>
                        </div>
                        <br/>
                    </p>
                  </div>
                  <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-ok" ng-disabled="buildCtrl.addFloorForm.$invalid" >Add</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
              </form>
                </div>
            </div>
        </div>
  </div>
  <!-- 000000000000000000 end add modal 00000000000000000000 -->
<br>
<div>
    <div  class="oneDetails" >
        <img ng-src="{{buildCtrl.build.thumbnail.url}}" /><br><br>
        <div ng-init="buildCtrl.isEdit = false">
            <a href="" class="btn btn-link" ng-click="buildCtrl.editFunc()" ><span class="glyphicon glyphicon-pencil"></span> Edit building</a><br>
            <div ng-show="buildCtrl.isEdit == true" >

                <form method="post" name="buildCtrl.editbuildForm" ng-submit="buildCtrl.submiteditbuildForm()">

                  <div class="row">
                    <label for="name" class="col-sm-3">Building Name : </label>
                    <div class="col-sm-5">
                        <input type="text" name="name" class="form-control" ng-model="buildCtrl.editBuild.name" required />
                    </div>
                    <span ng-show="buildCtrl.editbuildForm.name.$invalid && buildCtrl.editbuildForm.name.$dirty">Builing name is invalid*</span>
                  </div><br>

                  <div class="row">
                    <label for="address" class="col-sm-3">Building Address : </label>
                    <div class="col-sm-5">
                        <input type="text" name="address" class="form-control" ng-model="buildCtrl.editBuild.address"  required />
                    </div>
                    <span ng-show="buildCtrl.editbuildForm.address.$invalid && buildCtrl.editbuildForm.address.$dirty">Builing address is invalid*</span>
                  </div><br>

                  <button type="submit" class="btn btn-success col-sm-offset-4" ng-disabled="buildCtrl.editbuildForm.$invalid">Save</button>
                  <button type="button" class="btn btn-danger" ng-click="buildCtrl.isEdit = false" >Cancel</button>

                </form>
            </div>
            <div ng-hide="buildCtrl.isEdit == true" >
                <span><b>Name : </b>{{buildCtrl.build.name}}</span><br>
                <span><b>Address : </b>{{buildCtrl.build.address}}</span><br>
            </div>
        </div>
    </div>
        <div class="oneHas_head">
            <h4>Building Floors : </h4><br>
        </div>
        <br><br>
        <table class="table table-hover table-striped ">
          <tr ng-repeat="floor in buildCtrl.build.floors | orderBy:'floor_num' ">
            <td><b>  Floor Num : </b>{{floor.floor_num}}  &nbsp; &nbsp; </td><td>
            <a ng-click="buildCtrl.openMap(floor.width, floor.height, floor.id)" class='btn btn-danger'><span class="glyphicon glyphicon-globe"></span> Map</a>
            <a href="#/buildings/{{buildCtrl.build.id}}/floors/{{floor.id}}" class='btn btn-primary'>
            <span class="glyphicon glyphicon-plus-sign"></span> Details</a>
            <a  ng-click="buildCtrl.delFloorFunc(buildCtrl.build.id,floor.id)" class='btn btn-warning'>
            <span class="glyphicon glyphicon-trash"></span> Delete</a>
            <a  href="#/buildings/{{buildCtrl.build.id}}/statistics/{{floor.id}}" 
            class='btn btn-success'>
            <span class="glyphicon glyphicon-stats"></span> statistics</a>


            </td>
          </tr>
       </table>
   
  </div>
    <br><br>
</div>
</div>
</div>
