<div>
    <div>

  <!-- 000000000000000000 start add  modal 00000000000000000000 -->
   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">edit building</button>
  <div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Floor</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                  </div>
                  <div class="modal-body">
                    <p>Some text in the modal.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
  </div>



  <!-- 000000000000000000 end add modal 00000000000000000000 -->



        <img ng-src="images/{{buildCtrl.build.thumbnail}}" width="300px" height="300px" /><br>
        <span>Name: {{buildCtrl.build.name}}</span><br>
        <span>address: {{buildCtrl.build.address}}</span><br>   
        <span>Floors:</span><br>         
        <div ng-repeat="floor in buildCtrl.build.floors">
          <span> Floor Num: {{floor.floo}} </span> 
          <!-- still Hazem will edit floo  -->
          {{buildCtrl.build.id}}
          <span><a href="#/buildings/{{buildCtrl.build.id}}" class='btn btn-danger'>Map</a></span>
          <span><a href="#/buildings/{{buildCtrl.build.id}}/floors/{{floor.id}}" class='btn btn-primary'>Details</a></span>
          <!-- <span><a href="#/buildings/{{buildCtrl.build.id}}/floors/{{floor.id}}" data-method="delete" class='btn btn-warning'>Delete</a></span>  -->

          <span><a  ng-click="buildCtrl.delFloorFunc(buildCtrl.build.id,floor.id)" class='btn btn-warning'>Delete</a></span> 
          <br><br>
        </div>
    </div>
    <br><br>
</div> 